.frames_medical_examination{
    background-color: #caf0f8;    
}

.link4{
    font-weight: bold;
    
}

.star{
    font-weight: bold;
    color: red;
}

.frames_subclinical{
    background-color: #caf0f8;  
}

.anhsa{
    margin-top:10px;
    margin-bottom:10px;
    background-color: bisque;
    width: 350px;
    height: 350px;
}